services:
  autopulse:
    restart: unless-stopped
    container_name: autopulse
    image: d3v1l1989/autopulse-targeted:latest
    hostname: autopulse
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 -O /dev/null http://127.0.0.1:2875/stats || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTOPULSE__APP__DATABASE_URL=sqlite://data/autopulse.db
    volumes:
      - ./data:/app                # config.yaml goes here
      - /mnt:/mnt                  # mount your media paths (must match Sonarr/Radarr paths)
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "2875:2875"

  autopulse-ui:
    restart: unless-stopped
    container_name: autopulse-ui
    image: danonline/autopulse:ui
    hostname: autopulse-ui
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - FORCE_SERVER_URL=true
      - DEFAULT_SERVER_URL=http://autopulse:2875
      - ORIGIN=http://localhost:2880       # change to your domain if using reverse proxy
    ports:
      - "2880:2880"
